$background-color: white;
$text-color: #383838;
$link-color: #E09D00;
$border-color: #E8E8E8;
$lg-marign-bottom: 10px;

%login-content{
	width: 100%;
	margin-bottom: $lg-marign-bottom;
	height: 30px;
}

.reset-password-box {
    width: 400px;
    background: #fff;
    padding: 40px 60px;
    min-height: 460px;
    margin: auto;

	h1 {
		text-align: center;
		font-size: 24px;
		padding-bottom: 20px;
	    margin: 0;
	    color: $text-color;
	    text-transform: uppercase;
	}

	a {
		color: $link-color;
    }
    
	.reset-password-inputs {
		input {
			@extend %login-content;
			border: 1px solid $border-color;
			text-align: left;
			padding: 5px;
		}
	}

	.reset-password-btn {
		background-color: $link-color;
        text-transform: uppercase;
        @extend %login-content;
		border: none;
		color: $background-color;
		cursor: pointer;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
    	padding: 5px;
	}

	.reset-password-btn:hover {
	  	background-color: #F9BB2B;
	}

    .response {
		color: red;
		text-align: center;
    }
}
